<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="spring-tools.xml"/>

    <context:component-scan base-package="io.philipg.lunchvote.**.service"/>

    <bean id="configProperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="location" value="classpath:lunchvote.properties/"/>
        <!--<property name="location">-->
            <!---->
            <!--&lt;!&ndash;<value>lunchvote.properties</value>&ndash;&gt;-->
            <!--<value>file:///#{systemEnvironment['TOPJAVA_ROOT']}/lunchvote.properties</value>-->
            <!--&lt;!&ndash;<property name="basenames" value="file:///#{systemEnvironment['TOPJAVA_ROOT']}/config/messages/app"/>&ndash;&gt;-->
        <!--</property>-->
    </bean>
</beans>